@font-face {
  font-family: 'CoolveticaRg';
  src: url('../fonts/CoolveticaRg-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CoolveticaRg';
  src: url('../fonts/CoolveticaRg-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

* {
  font-family: 'CoolveticaRg', sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.interligneandword {
  line-height: 1.3;
  word-spacing: 1px;
}

/* Barre de navigation - début */

.navbar {
  position: fixed;
  top: 13px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  z-index: 9999;
}


.navbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  filter: blur(5px);
  z-index: -1;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 57px;
  background-color: rgb(255, 255, 255);
  opacity: 89%;
  border-radius: 30px;
  border: 1px solid rgb(238, 238, 238);
}


.logo-plus-simple {
  opacity: 100%;
  height: 40px;
  margin-left: 13px;
  cursor: pointer;
}

.boite-partenaire {
  display: flex;
  background-color: black;
  height: 47px;
  width: 236px;
  border-radius: 40px;
  align-items: center;
  justify-content: center; 
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boite-partenaire:hover {
  background-color:#D6321C;
}

.partenaire-text {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer; 
}

.bande-lancement {
  position: relative;
  display: flex;
  background-color: black;
  height: 34px;
  width: 100%;
  align-items: center;
  padding-left: 5%;
  overflow: hidden;
}

.text-lancement {
  color: white;
  font-size: 18px;
}

.flare {
  position: absolute; /* Position absolue pour le "flare" */
  width: 0px; /* Largeur de la lueur */
  height: 0px; /* Hauteur de la lueur (égale à la hauteur de la bande) */
  box-shadow: 0 0 50px 30px rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  opacity: 0; /* Initialisation de l'opacité à 0 */
  animation: moveFlare 2s linear infinite; /* Animation de déplacement de la lueur */
}

@keyframes moveFlare {
  0%{
      left: 100%; /* Position finale à droite de la bande */
      opacity: 0; /* Lueur invisible */
  }
  40% {
      left: 5%; /* Position initiale à gauche de la bande */
      opacity: 1; /* Lueur visible */
  }
  100% {
      left: 30%; /* Position finale à droite de la bande */
      opacity: 0; /* Lueur invisible */
  }
}

.bande-dons {
  display: flex;
  background-color: #D6321C;
  height: 30px;
  width: 100%;
  align-items: center;
  padding-left: 20px;
  animation: blink 3s infinite
}

@keyframes blink {
  0%, 100% {
    background-color: #fbbfb7; /* Texte invisible */
  }
  20%,
  80%  {
    background-color: #D6321C; /* Texte visible */
  }
}

.text-dons {
  color: white;
}

@media (max-width: 400px) {
  .boite-partenaire {
    width: 70%;
    padding: 10;
  }

  .partenaire-text {
    font-size: 3.8vw;
    white-space: nowrap;
  }
}
/* Barre de navigation - fin */

/* Footer - début */

footer {
  display: flex;
  background-color: black;
  width: 100%;
  position: relative;
  flex-direction: column;
}

.section-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 0px;
  padding: 0px;
}

.container-h3{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-h5{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.section-footer {
  display: flex;
  justify-content: center;
}

.banniere-bas {
  padding: 20px;
  height: 37px;
  bottom: 0;
  left: 0; 
  position: absolute; 
}

@media (max-width: 900px) {
  .section-2 {
      flex-direction: column;
    }
  .hyperlink {
    font-size: 16px;
  }
  
  .hupurlink {
    font-size: 14px;
  }
  }

.hyperlink {
  transition: color 0.3s ease;
}

.hyperlink:hover {
  color: #D6321C;
}

.copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-text {
  font-family: sans-serif;
  font-size: 12px;
  color: rgb(255, 255, 255);
}

/* Barre de navigation - fin */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  width: 360px;
  text-align: center;
  margin: 15px 0px;
}

h3 {
  font-size: 20px;
  color: white;
  margin: 10px;
  cursor: pointer;
  user-select: none;
}

h4 {
  font-size: 25px;
  color: rgb(96, 96, 96);
}

h5 {
  font-size: 16px;
  color: rgb(178, 178, 178);
  /* font-style: italic; */
  cursor: pointer;
  user-select: none;
  margin: 5px;
}

li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  gap: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  gap: 0px;
}

.titre-top {
  position: absolute;
  color: white;
  padding-left: 5%;
  padding-right: 15px;
  padding-bottom: 0px;
  /* padding-right: 34px; */
  bottom: 0;
  left: 0;
  white-space: pre-wrap;
}

.titre-top .nowrap {
  display: inline-block;
}

/* Main Page - début */

.flex-center {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.full-image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.section-1{
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}


.paragraphe-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.paragraphe-icon {
  font-size: 95px;
  color: #D6321C;
}

.paragraphe-badge {
  font-size: 32px;
  font-weight: 500;
  background-color: transparent;
  color: #D6321C;
  padding: 4px 8px;
  margin: 15px 5px;
}

.paragraphe-text {
  font-size: 18px;
  max-width: 360px;
  text-align: justify;
  margin: 0px;
  padding: 0px 5%;
  
}

.double-down {
  margin: 0 auto;
  height: 130px;
  width: 130px;
  padding: 70px 0px;
}

.c-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-card {
  display: flex;
  flex-direction: row;
}

.card {
  width: 80%;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 80px;
  /* margin: 4px; */
}

.icon-card {
  height: 50px;
  width: 50px;
  margin: 6px 15px;
}

.aligner-text {
  display: flex;
  flex-direction: column;
}

.titre-card {
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  margin-left: 5px;
}

.sous-titre-card {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 5px;
}

.bot-card {
  display: flex;
  flex-direction: row;
  margin: 0px 10px;
}

.bot-left {
  display: flex;
  flex-direction: row;
}

.img-c-card img{
  height: 70vh;
  width: 40vw;
  max-height: 300px;
  max-width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin: 0px 5px;
}

.bot-right {
  display: flex;
  /* flex-direction: column; */
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  width: 100%;
  height: 240px;
  margin-left: 5px;
  padding: 30px 10px;
}

.bot-right-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-c-br {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.img-c-br img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.img-c-br {
  width: 50%;
  margin-left: 20px;
}

.bot-right-r {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: stretch; */
  width: 90%;
}

.bot-right-r p {
  padding: 0px;
  margin: 0px;

}

.img-c-brt img{
  flex: 1;
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.savoir-plus-c {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.savoir-plus {
  display: flex;
  background-color: black;
  height: 47px;
  width: 150px;
  border-radius: 40px;
  align-items: center;
  justify-content: center; 
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.savoir-plus:hover {
  background-color:#D6321C;
}

.savoir-plus-text {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer; 
}

.spline-lecteur {
  height: 500px;
  width: 100%;
  margin-top: 50px;
}


.mosaic-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 4px;
  margin: 4px;
  overflow: hidden;
  height: 260px;
  width: 100%;
}

.mosaic-tile img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 10px;
  height: calc(100vw - 8px);
  max-height: 260px;
}

.style1 {
  height: 200px;
}

.style1 img {
  object-fit: cover;
  object-position: center;
  height: 100%; 
  width: 100%; 
}

.container-noir{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  margin: 4px;
  padding: 40px;
  justify-content: center;
}

.container-noir-text{
  color: white;
  font-size: 32px;
  width: 100%;
  max-width: 600px;
  margin-right: 20px;
  transition: color 0.3s ease;
}

/* .container-noir-text:hover {
  color: #1CD67B;
} */

.container-noir-banniere {
  padding: 0px 50px;
  height: 70px;
}

.partenaires {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  margin-bottom: 70px;
}

.container-gris {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  height: 180px;
  width: 180px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-gris:hover {
  background-color: rgb(0, 0, 0);
}

.container-gris:hover .logo {
  filter: brightness(1000%);
}

.logo {
  object-fit: cover;
  object-position: center;
  height: 90px;
  transition: filter 0.3s ease;
}

.partenaires-text {
  color: rgb(0, 0, 0);
  font-size: 32px;
  margin-bottom: 40px;
}

@media (max-width: 1150px) {
  .section-1{
    flex-direction: column;
  }

  .bot-card {
    flex-direction: column;
    justify-items: center;
  }

  .bot-right {
    max-width: 500px;
    margin-top: 5px;
  }

  .bot-left {
    width: 500px;
  }

  @media (max-width: 572px) {

    .paragraphe-text {
      font-size: 15px;
    }

    .h2 {
      font-size: 30px;
    }

    .top-card {
      margin: 0 auto;
      justify-content: center;
    }

    .card {
      display: flex;
      flex-direction: column;
      padding: 40px 0px;
      width: 97%;
    }

    .titre-card {
      font-size: 40px;
    }

    .sous-titre-card {
      font-size: 15px;
    }

    .bot-right {
      width: 94%;
    }
  }
}

@media (max-width: 390px) {
  .img-c-brt img{
    height: 120px;    
  }
}

@media (min-width: 992px) {
  .paragraphe-text {
      text-align: center;
    }

    .container-noir{
      flex-direction: row;
    }

    .container-noir-text{
      float: none;
      width: auto;
      margin-right: 0;
    }
}

.debordement {
  overflow: hidden;
}

/* Main Page - fin */

/* Page projet  - début */

.medium-container {
  padding: 0px 10%;
  padding-top: 20px;
  padding-bottom: 80px;
}

.medium-tile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.medium-image {
  width: 300px;
  height: 400px;
  border-radius: 10px;
}

.texte-medium {
  width: calc(80% - 300px);
  font-size: 18px;
  text-align: justify;
}

@media (max-width: 992px) {
    .medium-tile {
      flex-direction: column;
      align-items: center;
    }

    .medium-image {
      margin: 10px;
    }

    .texte-medium {
      width: 100%;
      margin-top: 40px;
    }
}

/* Page équipe - début */

.ekp-top {
  margin-bottom: 150px;
}

.ekp-titre {
  font-size: 32px;
  color: black;
  padding-top: 100px;
  padding-left: 10%;
}

.section-profile{
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

@media (max-width: 1700px) {
  .section-profile{
    flex-direction: column;
  }
}

.container-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 100px;
  overflow: hidden;
}

.photo-profile {
  height: 300px;
  border-radius: 150px;
  padding: 20px;
}

.ecole-text {
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.role-text {
  text-align: center;
}

.container-profile h2,
.container-profile h4,
.container-profile p {
  margin: 0;
  padding: 3px;
}

/* Page équipe - fin */

/* Page projet - début */

.projet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.telecharger-button-c {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.telecharger-button {
  display: flex;
  background-color: black;
  height: 47px;
  width: 220px;
  border-radius: 40px;
  align-items: center;
  justify-content: center; 
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.telecharger-button:hover {
  background-color:#D6321C;
}

.telecharger-button-text {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer; 
}

.projet-video {
  width: 560px;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

@media (max-width: 672px) {
  .projet-video {
    width: calc(100vw - 20%);
    height: calc((100vw - 20%)* 2);
  }
}


.avenir-text {
  color: rgb(195, 195, 195);
  font-size: 30px;
  font-style: italic;
  padding: 100px 30px;
  text-align: center;
}

.avenir-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  padding-bottom: 60px;
}

.contact-text{
  color: black;
  font-size: 22px;
  padding: 10px 0px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10%;
  overflow: hidden;
  /* margin-bottom: 50px; */
}

.contact-ligne {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 500px) {
  .contact-ligne{
    flex-direction: column;
  }
}

.contact-icon {
  font-size: 35px;
  padding-right: 10px;
  color: #D6321C;
}

.paragraphe-contact {
  font-size: 18px;
  padding: 0px 10%;
  padding-top: 30px;
}

.error-container {
  padding: 100px 0px;
  padding-left: 10%;
}

.error-text {
  color: rgb(141, 141, 141);
  font-size: 30px;
  font-style: italic;
  padding: 0px 0px;
}

.partenaires-sous-titre {
  color: rgb(93, 93, 93);
  font-size: 24px;
  padding: 0px 10%;
}

.partenaires-paragraphe {
  font-size: 18px;
  padding: 0px 10%;
  color: rgb(48, 48, 91);
}

.container-gris-large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding : 40px 0px;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
}

@media (min-width: 992px) {
    .container-gris-large{
      flex-direction: row;
    }

    .logo-partenaire {
      margin-left: 100px;
    }
}
  
.partenaires-centrage {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.logo-partenaire {
  object-fit: cover;
  object-position: center;
  height: 90px;
}

.grand-p-container {
  padding: 100px 5%;
}

